body {
  margin-left: 25px;
}

.filters {
  color: blue;
  display: flex;
  gap: 25px;
  justify-content: center;
  align-items: center;
}

.catalogTitle {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.genreModal, .ratingModal, .yearModal {
  position: absolute;
  top: -75px;
  left: 50px;
  border: 2px solid black;
  width: max-content;
  height: 500px;
  padding: 20px;
  z-index: 10;
  background-color: #2688eb;
  color: white;
}

.filterLink {
  position: relative;
  display: inline-block;
}

.favIcon {
  width: 30px;
  height: 30px;
}

.favIcon:hover {
  cursor: pointer;
  /* rotate: -90deg; */
}