@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.15rem;
}

* {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 1.05rem;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.filmPoster {
  width: 200px;
  height: auto;
  margin-right: 7%;
}

.film:hover {
  cursor: pointer;
  transform: scale(1.025);
}

.films {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(max-content, 1fr));
  gap: 25px;
}

.filmInfo {
  width: max-content;
}

.film {
  display: flex;
  padding-right: 20px;
  box-shadow: 5px 5px 5px #2688eb;
  background-color: white;
}

.favIcon {
  width: 30px;
  height: 30px;
}

.favIcon:hover {
  cursor: pointer;
  /* rotate: -90deg; */
}

.topPanel {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.filmName {
  margin-right: 25px;
}